VITE_SUPABASE_URL=https://msnqtuggpjaqtagdkdgd.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im1zbnF0dWdncGphcXRhZ2RrZGdkIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzg2NjYxOTYsImV4cCI6MjA5NDI0MjE5Nn0.CgACHliyU_faTsqbN9jH2uxGa3UEBmlRXpSOFN6gIzk
